@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-anchor-none {
    overflow-anchor: none;
  }
  .overflow-anchor-auto {
    overflow-anchor: auto;
  }
  .webkit-height {
    height: -webkit-fill-available;
  }
}
