@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-anchor-none {
    overflow-anchor: none;
  }
  .overflow-anchor-auto {
    overflow-anchor: auto;
  }
  .webkit-height {
    height: -webkit-fill-available;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}
