@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-anchor-none {
    overflow-anchor: none;
  }
  .overflow-anchor-auto {
    overflow-anchor: auto;
  }
  .h-screen-dvh {
    height: 100dvh;
  }
}
